* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font: 0.75em/1.5 sans-serif;
  background: #fff;
}

/* Navigation */

#Navigation{
  height: 10vh;
  width: 100%;
  background-color:#111;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  z-index:9;
}

.NavigationLeft{
  display: flex;
  float:left;
}

.NavigationRight{
  display: flex;
  float:right;
}

.NavigationTab{
  font-size: 1vw;
  display: block;
  align-content : center;
  align-items : left;
  /*background-color: ;*/
  height: 10vh;
  width: 9vw;
  text-align: center;
  line-height: 10vh;
  padding: auto;
}

.LogoImg{
  height: 10vh;
  width: 9vw;
}

a.NavigationTabLink{
  text-decoration: none;
  color: #fff;
}

button.ButtonSignout {
	border: none;
  height: 6vh;
  width: 8vw;
	background:#cc0000;
	color: #fff;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

button.ButtonSignout:hover {
	background: #fff;
	color: #111;
	box-shadow: inset 0 0 0 3px #cc0000;
}

.ButtonSignout{
  margin-top: 2vh;
  line-height: 6vh;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


/* Horizontal Carousel */

.myCarousel{
  height: 80vh ;
}

.carousel-inner{
  height: 80vh;
}

.carousel-caption{
  color:black;
}

/* Vertical Carousel */

.VerticalCarousel{
  height: 20vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 100%;
}

.Scrollable {
    height: 20vh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.TickersScrollable {
    max-height: 20vh;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: #c0c0c0;
}

.TickersScrollable tr td:nth-child(even) {background-color: orange;}

.TickersScrollable tr td:nth-child(odd) {background-color: #c0c0c0;}

td.TickerBlock{
  width: 20vw;
  height: 20vh;
}

#Items {
    -webkit-animation: scroll 12s infinite;
    -moz-animation: scroll 12s infinite;
    -ms-animation: scroll 12s infinite;
}

@-webkit-keyframes scroll {
  0%   { margin-top: 0; }
27.33%  { margin-top: 0 }
  33.33%  { margin-top: -500px; }
60.66% { margin-top: -500px; }
66.66% { margin-top: -1000px; }
94.99% { margin-top: -1000px; }
  100%  { margin-top: 0 }
}
@-moz-keyframes scroll {
  0%   { margin-top: 0; }
27.33%  { margin-top: 0 }
  33.33%  { margin-top: -20vh; }
60.66% { margin-top: -20vh; }
66.66% { margin-top: -40vh; }
94.99% { margin-top: -40vh; }
  100%  { margin-top: 0 }
}
@-ms-keyframes scroll {
  0%   { margin-top: 0; }
27.33%  { margin-top: 0 }
  33.33%  { margin-top: -500px; }
60.66% { margin-top: -500px; }
66.66% { margin-top: -1000px; }
94.99% { margin-top: -1000px; }
  100%  { margin-top: 0 }
}


/* Table */

.TableSection{
  height: 70vh;
  width: 100%;
  display: flex;
  float: left;
  flex-direction: row;
  overflow: hidden;
  margin-bottom: 5vh;
}

.TableBlock{
  display: block;
  width: 50%;
}

.Table{
  height: 60vh;
  /*background-color: ;*/
}

.Top10{
  height: 5vh;
  text-align: center;
  padding-top: 1vh;
  font-size: 2.5vh;
}


#Top10TableHeading
{
    height: 5vh;
    width:95%;
    background-color: grey;
    margin-left:1vw;
    margin-right:1vw;
    margin-top: 1vh;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 1vh;
}

.Top10TableHeadingLabels{
    table-layout: fixed;
    font-family:"Share" ;
    font-weight: 300;
    font-size: 0.9vw;
    width: 100%;
    padding:0;
    color: #111;
    border-color: rgb(55,55,55);
    text-align: center;
    line-height: 5vh;
}

#Top10TableContent{
  height: 45vh;
  width: 95%;
  background-color: green;
  margin-left:1vw;
  margin-right:1vw;
}

#Top10TableContentTable{
    background-color: #c0c0c0;
    table-layout: fixed;
    text-align: left;
    width: 100%;
    color: #111;
    cellpadding:10px;
    height: 100%;
    font-family: Share, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 1.5vw;
    border-collapse: collapse;
}

tr.Top10TableContentTableRow{
  margin-bottom: 10vh;
  line-height: 4vh;
  width: 95%;
  height: 1.5vh;
}

th, td {
    text-align:center;
    padding: 1px;
}

tr.Top10TableContentTableRow:nth-child(even) {background-color:#a0a0a0;}



.ButtonViewMore{
  display: flex;
  height: 7vh;
  line-height: 4vh;
  align-items: center;
  justify-content: center;
  /*background-color: ;*/
  margin: 0;
}

button.ButtonView {
	border: none;
  height: 4vh;
  width: 8vw;
	background:#cc0000;
	color: #fff;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

button.ButtonView:hover {
	background: rgba(0,0,0,0);
	color: #111;
	box-shadow: inset 0 0 0 3px #cc0000;
}


.StockImage{
  display:block;
  background-color: black;
  width: 50%;
}

/* Footer */

.generic-anchor {
    color: #8DB9ED;
    &:visited {
        color: #8DB9ED;
    }
    &:hover {
        color: #ccc;
    }
}

.flex-rw {
  display: flex;
  flex-flow: row wrap;
}

footer {
  background: ;
  width: 100%;
}

.footer-list-top {
  width:100%;
  display: flex;
  justify-content : space-around;
  height: 3vh;
}

.footer-list-top > li {
  text-align: center;
  padding-bottom: 10px;
}

a.footer-list-header {
  color: #111;
  font: 1.4vw "Oswald", sans-serif;
  text-decoration: none;
}

.footer-social-section {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 5px;
}

.footer-social-section::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 10px;
  border-top: 1px solid #ccc;
  width: calc(100% - 20px)
}

.footer-social-overlap {
  position: relative;
  z-index: 2;
  /*background:;*/
  padding: 0 20px
}

.footer-social-connect {
  display: flex;
  align-items: center;
  font: 2vw "Oswald", sans-serif;
  color: #111;
}

.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px
}

.footer-social-overlap > a {
  font-size: 3em
}

.footer-social-overlap > a:not(:first-child) {
  margin-left: 0.38em
}

.footer-bottom-section {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  height: 7vh;
  text-align: center;
}

.footer-bottom-wrapper {
  font-size: 1.5vw;
  color: #111;
}

.w3-modal{

    width: 10000px;
}

#TickersScrollable {
    max-height: 20vh;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: #c0c0c0;
}

#TickersScrollable tr td:nth-child(even) {background-color: orange;}

#TickersScrollable tr td:nth-child(odd) {background-color: #c0c0c0;}

td#TickerBlock{
    width: 20vw;
    height: 20vh;
    white-space:pre;
}

#Items {
    -webkit-animation: scroll 12s infinite;
    -moz-animation: scroll 12s infinite;
    -ms-animation: scroll 12s infinite;
}

@-webkit-keyframes scroll {
    0%   { margin-top: 0; }
    27.33%  { margin-top: 0 }
    33.33%  { margin-top: -500px; }
    60.66% { margin-top: -500px; }
    66.66% { margin-top: -1000px; }
    94.99% { margin-top: -1000px; }
    100%  { margin-top: 0 }
}
@-moz-keyframes scroll {
    0%   { margin-top: 0; }
    27.33%  { margin-top: 0 }
    33.33%  { margin-top: -20vh; }
    60.66% { margin-top: -20vh; }
    66.66% { margin-top: -40vh; }
    94.99% { margin-top: -40vh; }
    100%  { margin-top: 0 }
}
@-ms-keyframes scroll {
    0%   { margin-top: 0; }
    27.33%  { margin-top: 0 }
    33.33%  { margin-top: -500px; }
    60.66% { margin-top: -500px; }
    66.66% { margin-top: -1000px; }
    94.99% { margin-top: -1000px; }
    100%  { margin-top: 0 }
}
